<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <form action="/api/v1/auth/register" method="post">
            <p><label>First Name: <input type="text" name="firstName"/></label></p>
            <p><label>Last Name: <input type="text" name="lastName"/></label></p>
            <p><label>Username: <input type="text" name="username"/></label></p>
            <p><label>Password: <input type="password" name="password"/></label></p>
            <p><label>Date: <input type="text" name="signUpDate"/></label></p>
            <p><button type="submit">Register</button></p>        
        </form>
    </body>
</html>